<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<h1>
				{{ metadata.title }}
			</h1>
			<div class="controls">
				<button id="verticalCam">
					Birds Eye view
				</button>
				<button id="startCam">
					Reset view
				</button>
				<button id="viewAll" class="slide selected" onclick="switchSrc(this, 'ChurchHouse-Full-rotate')">View all</button>
				<button id="viewFloor1" class="slide" onclick="switchSrc(this, 'ChurchHouse-Floor1-rotate')">Floor 1</button>
				<button id="viewFloor0" class="slide" onclick="switchSrc(this, 'ChurchHouse-Floor0-rotate')">Floor 0</button>
			</div>
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

		{% set js %}
		    {% include "assets/js/inline.js" %}
	    {% endset %}
		<script>{{ js | jsmin | safe }}</script>

	</body>

</html>
