---
layout: layouts/base.njk
section: home
---
<div class="house">
	<model-viewer src="static/img/ChurchHouse-Full-rotate.glb" camera-controls environment-image="static/img/aircraft_workshop_01_1k.hdr" camera-orbit="36.89deg 73.78deg 380.3m" min-camera-orbit="auto auto auto" max-camera-orbit="auto auto 380.3m">
		<!-- Floor 1 -->
		<button id="sittingroom" class="Hotspot floor1Hotspot" slot="hotspot-1" data-position="-45.56097094205057m -29.60312122082986m -84.84973399369554m" data-normal="0m 1m -2.220446049250313e-16m" data-visibility-attribute="visible">
	        <div class="HotspotAnnotation">Sitting room</div>
	    </button>
	    <button id="kitchen" class="Hotspot floor1Hotspot" slot="hotspot-2" data-position="26.46875845371177m -29.603121220829813m -84.18104375585503m" data-normal="0m 1m -2.220446049250313e-16m" data-visibility-attribute="visible">
	        <div class="HotspotAnnotation">Kitchen</div>
	    </button>
	    <button id="landing" class="Hotspot floor1Hotspot" slot="hotspot-3" data-position="-14.953088387152206m -29.603121220829813m -70.90619874013223m" data-normal="0m 1m -2.220446049250313e-16m" data-visibility-attribute="visible">
	        <div class="HotspotAnnotation">Landing</div>
	    </button>
	    <button id="diningroom" class="Hotspot floor1Hotspot" slot="hotspot-4" data-position="-43.79077989604322m -29.603121220829756m -37.77377365062651m" data-normal="0m 1m -2.220446049250313e-16m" data-visibility-attribute="visible">
	        <div class="HotspotAnnotation">Dining Room</div>
	    </button>
	    <button id="livingRoom" class="Hotspot floor1Hotspot" slot="hotspot-5" data-position="22.92784581637231m -29.603121220829753m -12.574427618178888m" data-normal="0m 1m -2.220446049250313e-16m" data-visibility-attribute="visible">
	        <div class="HotspotAnnotation">Lounge</div>
	    </button>
	    <button id="study" class="Hotspot floor1Hotspot" slot="hotspot-6" data-position="-42.58145237855993m -29.60312122082975m 7.926225193460958m" data-normal="0m 1m -2.220446049250313e-16m" data-visibility-attribute="visible">
	        <div class="HotspotAnnotation">Study</div>
	    </button>
	    <button id="toilet" class="Hotspot floor1Hotspot" slot="hotspot-7" data-position="-54.83310381775563m -29.60312122082983m 43.731221680297786m" data-normal="0m 1m -2.220446049250313e-16m" data-visibility-attribute="visible">
	        <div class="HotspotAnnotation">Toilet</div>
	    </button>
	    <button id="hallway"class="Hotspot floor1Hotspot" slot="hotspot-8" data-position="-6.344767581875843m -29.603121220829784m 46.34369057519825m" data-normal="0m 1m -2.220446049250313e-16m" data-visibility-attribute="visible">
	        <div class="HotspotAnnotation">Hallway</div>
	    </button>
	    <!-- <button id="studybalcony" class="Hotspot floor1Hotspot" slot="hotspot-9" data-position="-55.88635904818266m -29.603121220829742m 24.04035453389865m" data-normal="0m 1m -2.220446049250313e-16m" data-visibility-attribute="visible">
	        <div class="HotspotAnnotation">Study Balcony</div>
	    </button> -->
	    <button id="gallery" class="Hotspot floor1Hotspot" slot="hotspot-10" data-position="51.390334348414896m -26.898820159337998m 39.321673268503446m" data-normal="0m 2.220446049250313e-16m 1m" data-visibility-attribute="visible">
	        <div class="HotspotAnnotation">Gallery</div>
	    </button>

	    <!-- Floor 0 -->
	    <button id="utility" class="Hotspot floor0Hotspot" slot="hotspot-11" data-position="-51.18875598870358m -53.109078047892645m -87.5268738271574m" data-normal="0m 1m -2.220446049250313e-16m" data-visibility-attribute="visible">
	        <div class="HotspotAnnotation">Utility room</div>
	    </button>
	    <button id="masterbedroom" class="Hotspot floor0Hotspot" slot="hotspot-12" data-position="24.53553777714265m -53.10907804789274m -86.52105212858356m" data-normal="0m 1m -2.220446049250313e-16m" data-visibility-attribute="visible">
	        <div class="HotspotAnnotation">Master bedroom</div>
	    </button>
	    <button id="hallwaystairs" class="Hotspot floor0Hotspot" slot="hotspot-13" data-position="-19.43900478034896m -53.109078047892645m -96.36768129783897m" data-normal="0m 1m -2.220446049250313e-16m" data-visibility-attribute="visible">
	        <div class="HotspotAnnotation">Hallway - stairs</div>
	    </button>
	    <button id="hallwaydownstairs" class="Hotspot floor0Hotspot" slot="hotspot-14" data-position="-7.488837279311738m -53.10907804789272m -37.71111685295832m" data-normal="0m 1m -2.220446049250313e-16m" data-visibility-attribute="visible">
	        <div class="HotspotAnnotation">Hallway</div>
	    </button>
	    <button id="bedroom1" class="Hotspot floor0Hotspot" slot="hotspot-15" data-position="-45.20478905372741m -53.10907804789268m -50.303111972575614m" data-normal="0m 1m -2.220446049250313e-16m" data-visibility-attribute="visible">
	        <div class="HotspotAnnotation">Bedroom 1</div>
	    </button>
	    <button id="bedroom2" class="Hotspot floor0Hotspot" slot="hotspot-16" data-position="-42.334241156634775m -53.109078047892666m 6.205102849534981m" data-normal="0m 1m -2.220446049250313e-16m" data-visibility-attribute="visible">
	        <div class="HotspotAnnotation">Bedroom 2</div>
	    </button>
	    <button id="computerroom" class="Hotspot floor0Hotspot" slot="hotspot-18" data-position="32.323331900986176m -53.10907804789267m -5.356541331070254m" data-normal="0m 1m -2.220446049250313e-16m" data-visibility-attribute="visible">
	        <div class="HotspotAnnotation">Computer room</div>
	    </button>
	    <button id="bathroom" class="Hotspot floor0Hotspot" slot="hotspot-19" data-position="-40.76108747960694m -53.10907804789266m 43.37099387752849m" data-normal="0m 1m -2.220446049250313e-16m" data-visibility-attribute="visible">
	        <div class="HotspotAnnotation">Bathroom</div>
	    </button>
	    <button id="gamesroom" class="Hotspot floor0Hotspot" slot="hotspot-20" data-position="27.483192471104715m -53.10907804789275m 39.830412519239545m" data-normal="0m 1m -2.220446049250313e-16m" data-visibility-attribute="visible">
	        <div class="HotspotAnnotation">Games room</div>
	    </button>

	</model-viewer>
</div>

<div class="lightbox" id="lightbox">
	<span>
		<a href="#" class="close" onClick='document.getElementById("iframeContainer").src="";'></a>
		<iframe width="100%" height="100%" frameborder="0" style="border:none;" allowvr="yes" allow="vr; xr; accelerometer; magnetometer; gyroscope; autoplay;" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="" id="iframeContainer"></iframe>
	</span>
</div>


{{ layoutContent | safe }}

{% set js %}

{% endset %}
<script>{{ js | jsmin | safe }}</script>
